.tabbable{
  margin:10px;
  .order-item{
    padding: 10px;
  }

  .tab-content{
    border: 1px solid #ddd;
    border-top: none;
    .order-item{
      .btn{
        border-radius: 0;
      }

    }
    .btn-success{
      margin: 10px;
    }

  }
}